streamlit
yt-dlp           # Iska version hata do taaki latest install ho
pandas
Pillow
moviepy          # Video editing ke liye zaroori
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
